.container {
  position: relative;
}

.position-absolute {
  top: 100%;
  /* Position below the search bar */
  left: 0;
  right: 0;
}

/* Animation for floating results */
.fade-in-down {
  animation: fadeInDown 0.3s ease-out forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* Start slightly above */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* End at the normal position */
  }
}

.product {
  color: black;
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: #f9f9f9;
  }
}
