<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <!-- First Button -->
    <li class="page-item" [class.disabled]="currentPage === firstPage">
      <button class="page-link" aria-label="Previous" (click)="goToFirst()">
        <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i></span>
      </button>
    </li>
    <!-- Previous Button -->
    <li class="page-item" [class.disabled]="currentPage === firstPage">
      <button class="page-link" aria-label="Previous" (click)="prevPage()">
        <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
      </button>
    </li>

    <!-- Previous Pages -->
    <li *ngFor="let page of pagesToShow" class="page-item" [class.active]="page === currentPage">
      <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
    </li>

    <!-- Next Button -->
    <li class="page-item" [class.disabled]="currentPage === lastPage">
      <button class="page-link" aria-label="Next" (click)="nextPage()">
        <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
      </button>
    </li>
    <!-- Last Button -->
    <li class="page-item" [class.disabled]="currentPage === lastPage">
      <button class="page-link" aria-label="Next" (click)="goToLast()">
        <span aria-hidden="true"><i class="fa-solid fa-angles-right"></i></span>
      </button>
    </li>
  </ul>
</nav>
