<div class="d-flex justify-content-around align-items-center vh-100">

  <div class="logo">
    <img class="w-100" src="assets/image/file.png" alt="logo">
  </div>

  <div class="info-form">
    <div class="">
      <div *ngIf="!isResgisterForm" class="d-flex justify-content-between align-items-center">
        <h1>Đăng nhập</h1>
        <i (click)="goToHome()" class="fa-solid fa-x"></i>
      </div>

      <div *ngIf="isResgisterForm" class="d-flex justify-content-between align-items-center">
        <h1>Đăng ký</h1>
        <i (click)="openLogin()" class="fa-solid fa-x"></i>
      </div>
    </div>



    <form [formGroup]="loginForm" (ngSubmit)="onSubmit() ">
      <div class="input-container">
        <div class="d-flex">
          <label for="username">Username</label>
          <div class="text-danger" style="margin-top: 2px; margin-left: 5px;"
            *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
            <small *ngIf="loginForm.get('username')?.errors?.['required']">- Username is required.</small>
          </div>
        </div>
        <input id="username" type="text" formControlName="username" placeholder="Enter your username" required />
      </div>

      <div class="input-container">
        <div class="d-flex">
          <label for="password">Password</label>
          <div class="text-danger" style="margin-top: 1px; margin-left: 5px;"
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">- Password is required.</small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">- Password must be at least 6 characters
              long.</small>
          </div>
        </div>
        <input id="password" type="password" formControlName="password" placeholder="Enter your password" required />
      </div>

      <div class="input-container"  *ngIf="isResgisterForm">
        <div class="d-flex">
          <label for="retypePassword">Retype password</label>
          <!-- <div class="text-danger" style="margin-top: 1px; margin-left: 5px;"
            *ngIf="loginForm.get('retypePassword')?.touched && loginForm.get('retypePassword')?.invalid">
            <small *ngIf="loginForm.get('retypePassword')?.errors?.['required']">- retype password is required.</small>
            <small *ngIf="loginForm.get('retypePassword')?.errors?.['minlength']">- retype password must be at least 6
              characters long.</small>
          </div> -->
        </div>
        <input id="retypePassword" type="password" formControlName="retypePassword"
          placeholder="Enter your retype password" required />
      </div>

      <button class="submit-button global-button" type="submit">Đăng nhập</button>
    </form>


    <div *ngIf="!isResgisterForm" class="mt-2 d-flex">Chưa có tài khoản? <div (click)="openRegister()"
        class="register-tag text-primary">Đăng ký tại đây</div>
    </div>
  </div>

</div>
