<div class="cart-container">
  <div class="cart-left-container">
    <h4>Thanh toán đơn hàng</h4>
    <br>
    <div class="status-bar shadow rounded-4">
      <b>Chọn phương thức giao hàng</b>
      <div class="shipping">
        <div>
          <input type="radio" id="shipping1" name="shippingMethod" value="ghtk" checked>
          <label for="shipping1"><span class="shipping-text">GHTK</span> Giao hàng tiết kiệm</label>
        </div>
        <div>
          <input type="radio" id="shipping2" name="shippingMethod" value="bee">
          <label for="shipping2"><span class="shipping-text">BEE</span> Giao hàng nhanh</label>
        </div>
        <div>
          <input type="radio" id="shipping3" name="shippingMethod" value="xanhsm">
          <label for="shipping3"><span class="shipping-text">XANH SM</span> Giao hàng xanh</label>
        </div>
        <div>
          <input type="radio" id="shipping4" name="shippingMethod" value="grab">
          <label for="shipping4"><span class="shipping-text">GRAB</span> Giao hàng nhanh</label>
        </div>
      </div>
    </div>
    <div class="status-bar shadow rounded-4">
      <b>Chọn phương thức thanh toán</b>
      <div class="shipping">
        <div>
          <input type="radio" id="payment1" name="paymentMethod" value="ghtk" checked>
          <label for="payment1"><span class="shipping-text">Thanh toán khi nhận hàng</span> thanh toán bằng tiền mặt</label>
        </div>
        <div>
          <input type="radio" id="payment2" name="paymentMethod" value="1">
          <label for="payment2"><span class="shipping-text">NASPAS</span> Thanh toán thẻ ATM ghi nợ nội địa qua MOMO</label>
        </div>
        <div>
          <input type="radio" id="payment3" name="paymentMethod" value="2">
          <label for="payment3"><span class="shipping-text">CREDIT CARD</span> Thanh toán thẻ ATM ghi nợ quốc tế qua MOMO</label>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-right-container">
    <h4>Địa chỉ</h4>
    <br>
    <div id="cart-right-child" class="address-tag shadow">address</div>
    <div id="cart-right-child" class="shipping-cal shadow">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <span class="">Tạm tính</span>
          <span class="fw-bold">{{formatToVietnameseDong(totalMoney)}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="">Phí giao hàng</span>
          <span class="fw-bold">{{formatToVietnameseDong(shippedCost)}}</span>
        </div>
      </div>
    </div>
    <div id="cart-right-child" class="shadow d-flex flex-column">
      <span class="">Tổng tiền</span>
      <span class="money-total">{{formatToVietnameseDong(totalMoney + shippedCost)}}</span>
      <span class="small-text">(Đã bao gồm VAT nếu có)</span>
    </div>
    <button id="addCart" class="button-product" routerLink="/payment" routerLinkActive="active">Thanh toán</button>
  </div>
</div>
