<div class="container mt-4">
  <h1>Đổi mật khẩu</h1>
  <hr>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(); passwordForm.reset()">
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Mật khẩu cũ</label>
      <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword" />
      <div *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched"
        class="text-danger">
        Mật khẩu cũ là bắt buộc.
      </div>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">Mật khẩu mới</label>
      <input type="password" id="newPassword" class="form-control" formControlName="newPassword" />
      <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched"
        class="text-danger">
        Mật khẩu không hợp lệ hoặc quá ngắn. Tối thiểu 6 ký tự.
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Nhập lại mật khẩu mới</label>
      <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" />
      <div *ngIf="passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword')?.touched"
        class="text-danger">
        Mật khẩu nhập lại không khớp.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Đổi mật khẩu</button>
  </form>
</div>