<div class="footer_wapper">
  <div class="row">
    <div class="col-md-3 py-5">
      <img src="../../../assets/image/file.png" alt="Logo" class="logo_footer">
    </div>
    <div class="col-md-3 align-self-center">
      <div class="fw-bold">Về Chúng Tôi</div>
      <div>Careers</div>
      <div>Cửa hàng của chúng tôi</div>
      <div>Chính sách giao hàng</div>
      <div>Điều khoản dịch vụ</div>
      <div>Chính sách quyền riêng tư</div>
    </div>
    <div class="col-md-3 align-self-center">
      <div class="fw-bold">Hỗ trợ khách hàng</div>
      <div>Trung tâm hỗ trợ</div>
      <div>Cách để mua hàng</div>
      <div>Tra cứu đơn hàng</div>
      <div>Hợp tác</div>
      <div>Hoàn tiền và hoàn trả</div>
    </div>
    <div class="col-md-3  align-self-center">
      <div class="fw-bold">Liên hệ chúng tôi</div>
      <div>69 Thái Hà, Trung Liệt, Đống Đa, Hà Nội</div>
      <div>Email: botstore.vn@gmail.com</div>
      <div>Số điện thoại: +84 987-654-321</div>
    </div>
  </div>
</div>
