<div class="container ">
  <div class="d-flex align-items-center">
    <mat-icon style="font-size: 26px;">person</mat-icon>
    <span style="font-size: 26px;margin-left: 1rem;">Trang cá nhân</span>
  </div>
  <div class="d-flex justify-content-between pt-3">
    <div class="left-panel shadow">
      <div class="d-flex align-items-center gap-2 active-tab"> <mat-icon>edit</mat-icon>Thông tin cá nhân</div>
      <div class="d-flex align-items-center gap-2"> <mat-icon>history</mat-icon>Lịch sử đơn hàng</div>
      <div class="d-flex align-items-center gap-2"> <mat-icon>lock</mat-icon>Thay đổi mật khẩu</div>
    </div>
    <div class="right-panel shadow">right</div>
  </div>
</div>