<!-- <div class="root_bg">
  <app-header></app-header>
  <div class="my-4">
    <router-outlet></router-outlet>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div> -->

<div class="root_bg">
  <ng-container *ngIf="!isLoginPage && !isAdminPage">
    <app-header></app-header>
  </ng-container>
  <div [ngClass]="checkLoginPage()" [class]="isAdminPage ? 'vh-100' : ''">
    <router-outlet></router-outlet>
  </div>
  <ng-container *ngIf="!isLoginPage && !isAdminPage">
    <div class="mt-auto">
      <app-footer></app-footer>
    </div>
  </ng-container>
</div>

<!-- Toast Container -->
<div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer">
  <!-- Toast Template -->
  <div id="toastTemplate" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
    aria-atomic="true" style="display: none;">
    <div class="d-flex">
      <div class="toast-body">
        Notification message here.
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
