<!-- <div class="root_bg">
  <app-header></app-header>
  <div class="my-4">
    <router-outlet></router-outlet>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div> -->

<div class="root_bg">
  <ng-container *ngIf="!isLoginPage">
    <app-header></app-header>
  </ng-container>
  <div [ngClass]="checkLoginPage()">
    <router-outlet></router-outlet>
  </div>
  <ng-container *ngIf="!isLoginPage">
    <div class="mt-auto">
      <app-footer></app-footer>
    </div>
  </ng-container>
</div>
