<div class="cart-container">
  <div class="cart-left-container">
    <span style="font-size: 1.5rem; font-weight: 500;">Phí giao hàng</span>
    <br>
    <!-- GIAM GIA -->
    <app-giam-gia [totalMoney]="totalMoney"></app-giam-gia>

    <!-- STATUS BAR -->
    <div class="status-bar shadow rounded-4">
      <div class="d-flex justify-content-start align-items-center" style="width: 45%;">
        <label class="ms-2" for="checkall">Sản phẩm</label>
      </div>
      <div id="status-bar-right" style="width: 55%;">
        <div>Đơn giá</div>
        <div>Số lượng</div>
        <div>Thành tiền</div>
        <i class="fa-solid fa-trash" style="color: #ff0000; cursor: pointer;" (click)="deleteAllOrderDetail()"></i>
      </div>
    </div>

    <!-- PRODUCT -->
    <div class="product-grid">
      <!-- Tag -->
      <div class="product-tag shadow rounded-4" *ngFor="let orderDetails of listOrderDetail">
        <div class="left">
          <div class="d-flex justify-content-start align-items-center">
            <img class="image-product" [src]="orderDetails.product.thumbnail" alt="tag">
          </div>
          <span class="product-name">{{orderDetails.product.name}}</span>
        </div>
        <div class="right">
          <div>{{ formatToVietnameseDong(orderDetails.price) }}</div>
          <div>
            <number-input (inputValue)="receiveInputData($event,orderDetails)"
              [numberValue]="orderDetails.number_of_products">
            </number-input>
          </div>
          <div>{{ formatToVietnameseDong(orderDetails.total_money) }}</div>
          <i class="fa-solid fa-trash" style="color: #ff0000; cursor: pointer;"
            (click)="deleteOneOrderDetail(orderDetails.id)"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-right-container">
    <span style="font-size: 1.5rem; font-weight: 500;">Thông tin đơn hàng</span>
    <br>
    <div id="cart-right-child" class="address-tag shadow">address</div>
    <div id="cart-right-child" class="shipping-cal shadow">
      <div class="d-flex flex-column gap-2">
        <div class="d-flex justify-content-between">
          <span class="">Tạm tính</span>
          <span class="fw-bold">{{formatToVietnameseDong(totalMoney)}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="">Phí giao hàng</span>
          <span class="fw-bold">{{formatToVietnameseDong(shippedCost)}}</span>
        </div>
      </div>
    </div>
    <div id="cart-right-child" class="shadow d-flex flex-column gap-3">
      <span class="">Tổng tiền</span>
      <span class="money-total">{{formatToVietnameseDong(totalMoney + shippedCost)}}</span>
      <span class="small-text">(Đã bao gồm VAT nếu có)</span>
    </div>
    <button *ngIf="listOrderDetail == null " id="addCart" class="button-product" disableds
      style="background-color: rgb(178, 178, 178);">Thanh toán</button>
    <button *ngIf="listOrderDetail != null && listOrderDetail.length > 0" id="addCart" class="button-product"
      routerLink="/payment" routerLinkActive="active" (click)="setSessionPayment()">Thanh toán</button>
  </div>
</div>
