<div class="cart-container">
  <div class="cart-left-container">
    <h4>Phí giao hàng</h4>
    <br>
    <!-- GIAM GIA -->
    <app-giam-gia [totalMoney]="totalMoney" (reduceShip)="getReducedShipCost($event)"></app-giam-gia>

    <!-- STATUS BAR -->
    <div class="status-bar shadow rounded-4">
      <div class="d-flex justify-content-start align-items-center" style="width: 45%;">
        <label class="ms-2" for="checkall"> Tất cả: (2 sản phẩm)</label>
      </div>
      <div id="status-bar-right" style="width: 55%;">
        <div>Đơn giá</div>
        <div>Số lượng</div>
        <div>Thành tiền</div>
        <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
      </div>
    </div>

    <!-- PRODUCT -->
    <div class="product-grid">
      <!-- Tag -->
      <div class="product-tag shadow rounded-4" *ngFor="let product of listOrderDetail">
        <div class="left">
          <div class="d-flex justify-content-start align-items-center">
            <img class="image-product" [src]="product.product.thumbnail" alt="tag">
          </div>
          <span class="product-name">{{product.product.name}}</span>
        </div>
        <div class="right">
          <div>{{ formatToVietnameseDong(product.price) }}</div>
          <div>
            <number-input (inputValue)="receiveInputData($event,product)" [numberValue]="product.number_of_products">
            </number-input>
          </div>
          <div>{{ formatToVietnameseDong(product.total_money) }}</div>
          <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-right-container">

    <h4>Địa chỉ</h4>
    <br>


    <div id="cart-right-child" class="address-tag shadow">address</div>
    <div id="cart-right-child" class="shipping-cal shadow">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <span class="">Tạm tính</span>
          <span class="fw-bold">{{formatToVietnameseDong(totalMoney)}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="">Phí giao hàng</span>
          <span class="fw-bold">{{formatToVietnameseDong(reducedShipCost)}}</span>
        </div>
      </div>
    </div>
    <div id="cart-right-child" class="shadow d-flex flex-column">
      <span class="">Tổng tiền</span>
      <span class="money-total">{{formatToVietnameseDong(totalMoney - reducedShipCost)}}</span>
      <span class="small-text">(Đã bao gồm VAT nếu có)</span>
    </div>
    <!-- <div id="cart-right-child" class="shadow">btn</div> -->
    <button id="addCart" class="button-product">Thanh toán</button>

  </div>
</div>
