<div>
  <div class="d-flex justify-content-between">
    <span>Lịch sử đơn hàng</span>
  </div>
  <hr>
  <div class="d-flex flex-column gap-4">
    <!-- Order -->
    <div class="order" *ngFor="let order of ordersDetails">
      <div class="order-label">
        <div>Mã đơn hàng: {{order.orderId}}</div>
        <div>Trạng thái: {{order.status}}</div>
        <div>Tổng đơn hàng: {{ formatToVietnameseDong(order.totalMoney)}}</div>
      </div>
      <div class="detail-label">
        <div style="width: 20%; text-align: start;"> Ảnh sản phẩm</div>
        <div style="width: 20%; text-align: center;">Tên sản phẩm</div>
        <div style="width: 20%; text-align: end;">Đơn giá</div>
        <div style="width: 20%; text-align: end;">Số lượng</div>
        <div style="width: 20%; text-align: end;">Tổng sản phẩm</div>
      </div>
      <!-- Chi tiet order -->
      <div class="detail-order" *ngFor="let orderDetail of order.orderDetails">
        <div style="display: flex; justify-content: space-between; padding: 1rem 1rem 1rem 0">
          <div style="width: 20%; display: flex; align-items: center; justify-content: start;">
            <img [src]="orderDetail.product.thumbnail" alt="img"
              style="width: 70px; height: 70px; object-fit: cover; border-radius: 10px;">
          </div>
          <div style="width: 20%;  display: flex; align-items: center;  justify-content: center;">
            {{orderDetail.product.name}}
          </div>
          <div style="width: 20%; display: flex; align-items: center; justify-content: end;">
            {{formatToVietnameseDong(orderDetail.price)}}
          </div>
          <div style="width: 20%; display: flex; align-items: center; justify-content: end;">
            {{orderDetail.numberOfProducts}}</div>
          <div style="width: 20%; display: flex; align-items: center; justify-content: end;">
            {{orderDetail.totalMoney}}</div>
        </div>
      </div>
    </div>

  </div>
</div>