<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-2 left-panel">
      <span style="height: 10%; width: 100%;">Quản trị hệ thống</span>
      <button *ngFor="let button of buttons; let i = index" [class.active]="activeButtonIndex === i"
        (click)="setActive(i)">
        {{ button.label }}
      </button>
    </div>
    <div class="col-md-10">
      <div class="row bg-white" style="height: 10%;">
        <div class="navbar px-4">
          <span class="navbar-brand mb-0 h1">Quản trị hệ thống</span>
          <button class="gobackhomme global-button" (click)="goToHome()">Về trang chủ</button>
        </div>
      </div>
      <div class="row p-3" style="height: 90%; display: flex; overflow: hidden;">
        <user-table class="flex-item" *ngIf="activeButtonIndex === 0" @fadeInOut></user-table>
        <app-product-table class="flex-item" *ngIf="activeButtonIndex === 1" @fadeInOut></app-product-table>
      </div>
    </div>
  </div>
</div>
